/* default styls */

*
{
    margin: 0;
    padding: 0;
}
body 
{
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar
{
    width: 6px;
}
::-webkit-scrollbar-track
{
    background-color: #fff;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(rgb(227, 12, 235), rgb(10, 23, 209));
    border-radius: 100px;
}

div
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 2px 2px 2px #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
}
.bg-1
{
    background-image: url("../img/bg-1.jpg");
    height: 100vh;
}
.bg-2
{
    background-image: url("../img/bg-2.jpg");
    height: 600px;
}
.bg-3
{
    background-image: url("../img/bg-3.jpg");
    height: 100vh;
}
.bg-4
{
    background-image: url("../img/bg-4.jpg");
    height: 600px;
}
.bg-5
{
    background-image: url("../img/bg-5.jpg");
    height: 100vh;
}

